.site-footer{
    background-color: $color__link;
    color: white;
    display: flex;
    
    flex-wrap: column;
    
    .widget-footer{
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
       
    }

}