.site-footer{
   
   @include tablet {
    background-color:#66fcf1;
    display: flex;
    justify-content: center;
    width:30%;
    text-align: center;
   }


    
  
    
    .widget-footer{
        @include tablet

        {
            justify-content: center;
            flex-direction: row;
            background-color:#0b0c10;
            width:60%;
            padding-right: 3vw;
            padding-left: 3vw;
        }
        

      
      
    }

}