.site-footer{
    background-color:#8000ff;
    display: flex;
    justify-content: center;
    width:30%;
    text-align: center;
    
  
    
    .widget-footer{
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        background-color:white;
        border:solid #8000ff;
        width:60%;
        padding-right: 3vw;
        padding-left: 3vw;

        .textwidget
        {
            text-decoration: none;
        }
      
    }

}